@font-face { font-family: Lobster; src: url('../fonts/lobster-two/LobsterTwo-Regular.otf'); }
@font-face { font-family: Lobster; src: url('../fonts/lobster-two/LobsterTwo-Bold.otf'); }
h1 { font-family: Lobster, sans-serif; }
